<mat-card class="window small-window">
  <mat-card-header>
    <mat-card-title>Cart</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <p>
      <a routerLink="/shipping">Shipping Prices</a>
    </p>
    <div class="cart-item" *ngFor="let item of items">
      <span>{{ item.name }}</span>
      <span>{{ item.price | currency }}</span>
    </div>
    <form [formGroup]="checkoutForm" (ngSubmit)="onSubmit(checkoutForm.value)">
      <div>
        <label>Name</label>
        <input type="text" formControlName="name">
      </div>
      <div>
        <label>Address</label>
        <input type="text" formControlName="address">
      </div>
      <button class="button" mat-flat-button color="primary" type="submit">Purchase</button>
    </form>
  </mat-card-content>
</mat-card>
