/* You can add global styles to this file, and also import other style files */
$cart-background: #EEEEEE;
$color-primary: #673AB7;
$color-secondary: #35a7ff;

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

a {
  cursor: pointer;
  color: $color-secondary;
  text-decoration: none;
}

a:hover {
  opacity: 0.8;
}

.cart-item,
.shipping-item {
  width: 100%;
  min-width: 400px;
  max-width: 450px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 16px 32px;
  margin-bottom: 8px;
  border-radius: 2px;
  background-color: $cart-background;
}

.spacer {
  flex: 1 1 auto;
}
